<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
    <% include partials/nav.ejs  %>
    <h1>Contact!!</h1>

    <form id="contact-form"  method="POST" action="/contact">
      <label for="who">Who do you want to contact?</label>
      <input type="text" name="who" value="<%= qs.person %>" />
      <label for="department">Which department?</label>
      <input type="text" name="department" value="<%= qs.dept %>" />
      <label for="email">Your email</label>
      <input type="text" name="email"/>
      <input type="submit" value="submit" />
    </form>
</body>
</html>